<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
   
</head>
<body>
    <div class="sidebar">
        <h2>Dashboard</h2>
        <ul>
            <li >
                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
            </li>
            <li>Profile</li>
            <li>Settings</li>
            <li>Logout</li>
        </ul>
    </div>

    <div class="content">
        <div class="header">
            <h1>Welcome to Crowdfunding Nepal</h1><br>
            <p>You can choose to help anyone today.</p>
        </div>
</div>
    <link rel="stylesheet" href="/css/style1.css" />






    @RenderBody()
</body>
</html>
