@page
@model CrowdFunding.Pages.Admin.DashboardModel
@{
    Layout = "adminlayout"; 
}
<link rel="stylesheet" href="/css/style1.css" />
    
    <div class="main-content">
        
        <div class="cards">
            <div class="card">
                <h3>Cancer patient</h3>
                <p>Some content here.</p>
                <img src="/image.jpg" alt="Card Image">
            </div>
            <div class="card">
                <h3>College fund</h3>
                <p>Some content here.</p>
                <img src="/image.jpg" alt="Card Image">
            </div>
            <div class="card">
                <h3>Kidney Transplant</h3>
                <p>Some content here.</p>
                <img src="/image.jpg" alt="Card Image">
            </div>
        </div>
    </div>

